<h2>Inscri&ccedil;&otilde;es</h2>
<div ng-init="loadInscricoes()">

	<div>
		<a href="#/inscricoes/{{corrida}}/corredores/nova" class="pull-right ">Nova</a>
	</div>
	<table id="tableData" class="table table-bordered table-hover table-striped">
		<thead>
			<tr>
				<th>Id Corrida</th>
				<th>Id Corredor</th>
				<th>Status Pagamento</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="row in rows | startFrom: currentPage*pageSize| limitTo: pageSize">
				<td><a href='#/inscricoes/{{corrida}}/corredores/{{row.corredor}}'>{{row.corrida}}</a></td>
				<td>{{row.corredor}}</td>
				<td>{{statusPagamento[row.statusPag].text}}</td>
			</tr>
		</tbody>
	</table>
	
	<button class="btn btn-primary" ng-click="currentPage=currentPage-1" ng-disabled="currentPage == 0" >&larr; Voltar</button>
	<button class="btn btn-primary pull-right" ng-click="currentPage=currentPage+1" ng-disabled="currentPage >= rows.length/pageSize - 1">Avançar &rarr;</button>
</div>
