<h2>Inscri&ccedil;&atilde;o</h2>
<div ng-init="loadInscricao()">
    <form name="form" class="form-horizontal" ng-show="row!=null">
	
        <div class="control-group" style="display: none;">
            <label class="control-label">Id Corrida:</label>
            <div class="controls">
                <input name="corrida" type="text" ng-model="row.corrida" ng-disabled="row.corrida != null"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Id Corredor:</label>
            <div class="controls" >
                <input name="corredor" required type="text" ng-model="row.corredor" class="input-xxlarge" ng-disabled="row.corredor != null"/>
                <span class="help-inline text-error" ng-show="form.nome.$dirty && form.nome.$invalid">Campo obrigatório</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Status Pagamento:</label>
            <div class="controls">
				<select ng-model="row.statusPag">
					<option value="0">Pago</option>
					<option value="1">Pendente</option>
				</select>
            </div>
        </div>			

		<div class="form-actions">
			<button type="submit" class="btn btn-primary" ng-click="save()" ng-Disabled="form.$invalid">Salvar</button>
			<a href="#/inscricoes/{{row.corrida}}/corredores" class="btn">Voltar</a>
		</div>
	</form>
	<button class="btn btn-danger pull-right" ng-click="del()">Apagar</button>
</div>